@using IdentityServer.OpenIddict.ViewModels.Application;
@model IndexViewModel;
@{
}
<h1>应用程序</h1>

<div class="card mb-3">
    <div class="card-body">
        <a class="btn btn-primary" asp-controller="Application" asp-action="Create">添加应用</a>
    </div>
</div>

@using (Html.BeginForm())
{
    <ul class="list-group">
        @foreach (var application in Model.Applications)
        {
            <li class="list-group-item ">
                <div class="w-100">
                    <span>
                        @application.DisplayName
                    </span>
                    <div class="float-end">
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@application.Id">编辑</a>
                        <button type="submit" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@application.Id">删除</button>
                    </div>
                </div>
            </li>
        }
    </ul>
}