@model IdentityServer.OpenIddict.ViewModels.ContentLayoutViewModel;
<div class="content-header">
    @await Html.PartialAsync(Model.HeaderView)
</div>
<div class="content">
    @await Html.PartialAsync(Model.ContentView)
</div>